.category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 100%;
  height: 300px;
}
.category h3 {
  font-size: 2rem;
  color: #fff;
  font-family: "Poppins";
}

.category main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
