@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", "sans-serif";
}
:root {
  font-family: "Poppins";
}
a {
  outline: none;
  text-decoration: none;
}

.slick-arrow::before {
  font-size: 30px;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background-color: #222;
}
::-webkit-scrollbar-thumb {
  background-color: #b71c1c;
  border-radius: 5px;
  border: 3px solid #000;
}
